header {border-top: 3px solid rgb(90, 225, 90); }
header .wrap {border-bottom: 1px solid #ddd;}
header .wrap .top {width: 1008px; margin: 0 auto; overflow: hidden;}
header .wrap .top .top_left {float: left; padding: 10px 8px 10px 0; font-size: 12px; color: #ddd;}
header .wrap .top .top_right {float: right;}

.top_right ul li {display: inline; border-left: 1px solid #ddd;}
.top_right ul li a {display: inline-block; padding: 5px 10px; font-size: 12px; color: #a5a5a5; text-decoration: none;} 

header .wrap .mid {width: 1008px; margin: 0 auto; overflow: hidden;}
.wrap .mid .left {float: left;}
.wrap .mid .right {float: right; margin-top: 10px;}

.wrap .mid fieldset {
    width: 330px;
    height: 40px;
    margin: 36px 0 0 11px;
    background-image: url(img2/3.png);
    border: none;
    overflow: hidden;
}

.wrap .mid fieldset > input {
    float: left;
    width: 260px;
    height: 25px;
    margin: 7px 0 0 18px;
    border: none;
}
.wrap .mid fieldset > button {
    float:right;
    height: 40px;
    width: 45px;
    background-image: url(img2/6.png);
    background-color: #fff;
    border: none;
}

.wrap .bot {overflow: hidden; margin: 0 auto;}
.wrap .bot .main_gnb {float: left;}
.wrap .bot .sub_gnb{float: right;}
.main_gnb li ,
.sub_gnb li {display: inline-block;}
.main_gnb li a,
.sub_gnb li a  {display: block; color: #000; text-decoration: none; padding: 10px 5px;}






section .wrap > h5 {padding-top: 20px;}
section .wrap {width: 1008px; margin: 0 auto;}
section .content {overflow: hidden;}
section .list_wrap {width: 480px; float: left;}
section .slide_wrap {width: 236px; float: left;}
section .user_wrap{width: 280px; float: left;}

/* 이미지의 가수명 영역 */
.list_wrap ul {overflow: hidden;}
.list_wrap ul li {float: left; width: 33.3333%; position: relative;} 
.list_wrap ul li a  {position: relative}
.list_wrap ul li a .singer {
    position: absolute; 
    bottom: 4px; 
    left: 0;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    opacity: 0.9;
}

.list_wrap ul li .hover_cont{
    position:absolute;
    left: 0;
    top: 0;
    width: 156px;
    height: 155px;
    background-color: black;
    opacity: 0.0; /* 호버가 닿으면 1로 변경 */
    z-index: 10; /* 가장 위쪽으로 */
    transition: opacity 0.5s ease-in-out;
}

/* 호버 */
.list_wrap ul li:hover > .hover_cont{
    opacity: 1;
}

.list_wrap ul li .hover_cont a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;

    display: inline-block;
    padding-top: 50px;
    width: 100%;
    text-align: center;
}

/*  */
.slide_wrap {margin-left: 4px; }
.user_wrap {margin-left: 8px; height: 118px;}

.user_wrap > .login_wrap {
    border: 1px solid #ddd;
}

.user_wrap > .promotion_wrap {margin-top: 8px;}

.user_wrap .login_wrap {overflow: hidden;}
.user_wrap .login_wrap .top .left {float: left;}
.user_wrap .login_wrap .top .right {float: right;}






